html {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #2a2525;
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding-top: 5px;
    top: 0;
    left: 0;
    display: flex;
    align-items: end;
    /* font-family: 'Alkatra', cursive; */
    z-index: 10;
    flex-wrap: wrap;
    background-color: rgb(22, 20, 20, .8);

}

.company-name {
    display: flex;
    flex-grow: 3;
    margin-left: 50px;
}

.company-name h1 {
    color: rgb(220 206 231);
    font-size: 1.5rem;
    margin: 0;
    align-self: center;
}

header img {
    /* position: absolute;
    z-index: 10;
    top: .5vh; */
    height: 40px;
}

.top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 100%;
}

nav {
    display: flex;
    column-gap: 3vh;
    font-size: 1.3rem;
    flex-grow: 2;
    justify-content: center;
    flex-wrap: wrap-reverse;
    border-top: solid 3px;
    padding: 1vw;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,
        rgb(123 116 129), 
        rgb(164, 155, 172), 
        rgb(116, 67, 116), 
        rgb(164, 155, 172),
        rgb(123 116 129)
        );
}

header a {
    text-decoration: none;
    color: rgb(220 206 231);
}

.socials {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    font-size: .9rem;
}

a:hover {
    background-image: linear-gradient(to right, 
    rgb(116, 67, 116),
    rgb(164, 155, 172));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.1);
}


#home, #services {
    width: 100%;
    text-align: center;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
}

.home-title > h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

#home::before {
    content: "";
    background-image: url(images/background-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .2;
    background-position: center;
}

.home-title {
    margin: 200px 20vw 0;
    border-bottom: solid 3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg,
        rgb(123, 116, 129, .7), 
        rgb(164, 155, 172, .7), 
        rgb(116, 67, 116, .7), 
        rgb(164, 155, 172, .7),
        rgb(123, 116, 129, .7)
        );

}

.home-title p {
    line-height: 1.5;
}

.testimonials, #services {
    margin: 200px 15vw 0;
}

.testimonial-content:nth-last-of-type(2) {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
}

.testimonials p {
    line-height: 1.5;
}

.testimonials img {
    height: 280px;
    border-radius: 20px;
    box-shadow: 16px 16px 16px 16px rgba(0,0,0,0.25), 
    0 17px 50px 0 rgba(0,0,0,0.20);
    align-self: end;

}

.testimonial-content {
    text-align: left;
    border-bottom: solid 3px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,
        rgb(123, 116, 129), 
        rgb(164, 155, 172), 
        rgb(116, 67, 116));
    margin-bottom: 150px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
}

.sofia, .bucky, .chubs {
    flex-basis: 50%;
    flex-grow: 1;
    flex-shrink: 0;
}

.image {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.bucky {
    flex-direction: row-reverse;
}

footer {
    background-image: linear-gradient(to bottom, 
    rgb(241, 233, 247),
    rgb(220 206 231),
    rgb(164, 155, 172));
    padding: 20px;
    font-size: .8rem;
    display: flex;
    justify-content: center;
}

footer a {
    color: #2a2525;
    text-decoration: none;
    padding: 10px;
    border-right: solid 1px;
}

footer a:last-child {
    border-right: none;
}

