html {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    color: #2a2525;
}

body {
    margin: 0;
}

header {
    position: fixed;
    width: 100%;
    margin: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    top: 0;
    left: 0;
    background-color: #2a2525;
    display: flex;
    align-items: end;
    font-family: 'Alkatra', cursive;
    z-index: 10;
    opacity: .9;
    flex-wrap: wrap;
}

.company-name {
    display: flex;
    flex-grow: 3;
}

.company-name h1 {
    color: rgb(220 206 231);
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 5vw;
}

img {
    /* position: absolute;
    z-index: 10;
    top: .5vh; */
    height: 60px;
}

.top-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

nav {
    display: flex;
    gap: 4vh;
    font-size: 1.4rem;
    flex-grow: 2;
    justify-content: center;
    flex-wrap: wrap-reverse;
    margin: 0 20px;
}

a {
    text-decoration: none;
    color: rgb(220 206 231);
}

.socials {
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-self: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px;
}

#home {
    width: 100%;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content > h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

#home::before {
    content: "";
    background-image: url(images/background-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .2;
    background-position: center;
}

.home-content {
    margin: 50px;
}

.home-content p {
    line-height: 1.5;
    font-size: 1.2rem;
}

