#mobile-menu {
    display: inline;
    position: fixed;
    font-size: 1.5em;
    right: 2vw;
    top: 2vw;
    color: white;
}

header {
    position: relative;
}

nav {
    position: relative;
    display: none;
    flex-direction: column;
    align-items: center;
    top: 2.2em;
    background-color: black;
    margin-right: 50px;
}

nav > a {
    line-height: normal;
    padding: 3px;
    margin: 5px;
}

header > nav > a:nth-last-child(2) {
    margin: 5px;
}

header > nav > a:last-child {
    margin: 5px;
}

a > i {
    padding: 3px;
}

.nav-show {
    display: flex;
}

header > span {
    line-height: normal;
}

main {
    font-size: 1em;
    width: 85vw;
}

main a {
    background: linear-gradient(90deg, blue, lightblue, turquoise);
    margin: 20px;
    font-weight: bold;
}

.teaser {
    display: flex;
    flex-direction: column;
    top: 120vh;
    font-size: .9em;
}

.teaser > div::after {
    border-right: none;
}

div > h2 {
    text-align: center;
}

