body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

#home, #about {
    position: relative;
    height: 100vh;
    width: 100%;
}

#home::before, #about::before {
    content: "";
    background-repeat: no-repeat;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

#home::before {
    background-image: url(../images/playful-kitten-6683.jpg);
}

#about::before {
    background-image: url(../images/kitten-flying.jpg);
}

header {
    margin-left: 30px;
    position: fixed;
}

.orange {
    color: orange;
    text-shadow: 3px 3px black;
}

h1 {
    font-weight: bold;
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    position: relative;
}

header img {
    height: 2rem;
    position: relative;
    top: 5px;
    transition: transform .7s ease-in-out;
    display: inline-block;
}

/* header > h2 > img:hover {
    transform: rotateY(360deg) !important;
} */

.netflix:hover {
    transform: rotateY(360deg) !important;
    cursor: pointer;
}

#about h2 {
    margin: 0;
    position: absolute;
    top: 175px;
    left: 375px;
    font-size: 1.5rem;
    line-height: 1.5;
}

#schedule, #contact {
    background-color: rgb(12, 12, 12, .8);
    border: solid 3px orange;
    border-radius: 15px;
    color: orange;
    position: fixed;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    padding: 10px;
}

#schedule {
    height: 200px;
    width: 750px;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: -50%;
}

#contact {
    top: 50%;
    left: -50%;
    padding: 30px;
}

#contact a {
    color: orange;
}

i {
    margin-left: 15px;
}

/* #schedule:target, #contact:target {
    left: 50%;
} */

#schedule.show, #contact.show {
    left: 50%;
}

#contact.show {
    animation: spinright .5s;
}

@keyframes spinright {
    0% {left: -50%;}
    /* 12.5% {left: -37.5%; rotate: 45deg;}
    25% {left: -25%; rotate: 90deg;}
    37.5% {left: -12.5%; rotate: 135deg;} */
    50% {left: 0%; rotate: 180deg;}
    62.5% {left: 12.5%; rotate: 225deg;}
    75% {left: 25%; rotate: 270deg;}
    87.5% {left: 37.5%; rotate: 315deg;}
    100% {left: 50%; rotate: 360deg;}
}

#schedule img, #contact img {
    height: 25px;
    width: 25px;
    position: absolute;
    top: -10px;
    right: -10px;
}

.title {
    width: 10ch;
}

.description {
    width: 35ch;
}

.date {
    width: 10ch;
}

#schedule p {
    margin: 5px;
}

.episode {
    display: flex;
    flex-direction: row;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 50px;
    margin-right: 30px;
}

footer a {
    text-decoration: none;
    font-size: 2rem;
    color: orange;
    text-shadow: 1px 1px black;
    margin-left: 30px;
    font-weight: bold;
    display: inline-block;
    width: min-content;
    text-align: center;
}

a:hover::after {
    content: url(../images/pawprint.png);
}

article img:hover {
    cursor: pointer;
}



